.agent-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid black;
  width: 140px;
  height: fit-content;
  position: relative; /* Ensure this container is the reference for absolute positioning */
}

.agent-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: aliceblue;
}

.add-agent {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.agent-popup {
  position: absolute;
  top: 0; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Adjust the height as needed */
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it appears on top */
}

.agent-popup-header {
  background-color: red;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.agent-popup-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.agent-popup-body label {
  margin-bottom: 5px;
}

.agent-popup-body input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.webrtc {
  display: flex;
  gap: 30px;
  align-items: center;
}
