body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.sidebar {
  position: absolute;
  z-index: 1000;
  bottom: 0;
  right: 30%;
  border: 0.1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 7px 10px;
  background-color: white;
}
.wrapper {
  height: 100%;
  width: 100%;
  background: #f0f0f0;
}

.popup-area {
  width: 35%;
  height: 100vh;
  z-index: 1000;
  background-color: white;
  border: 0.3px solid black;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.popup-header {
  height: 2%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header-content {
  display: flex;
  margin-top: 10px;
  justify-content: flex-end;
  gap: 10px;
  flex: 1;
  /* background-color: aqua; */
  margin-right: 10px;
}
span {
  font-size: 13px;
}

.popup-body {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.popup-body-a {
  display: flex;
  gap: 6px;
}
.popup-body-b {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.start-call-container {
  width: 200px;
  border: 1px solid hidden;
  border-radius: 8px;
  overflow: hidden;
  font-family: Arial, sans-serif;
}

.start-call-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #ecf7e9;
}

.start-call-header-div {
  display: flex;
  gap: 10px;
}

.start-call-header-icon {
  color: #1aba27;
  font-size: 24px;
  /* margin-left: 50px; */
}

.start-call-header-text {
  color: #1aba27;
  font-size: 16px;
  font-weight: bold;
  margin: 0; /* Remove default margin */
}

.start-call-circle {
  font-size: 24px;
  color: gray; /* Ensure consistent icon size */
}
.start-call-settings {
  font-size: 24px;
  color: gray;
}

.start-call-header-div2 {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.start-call-popup {
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid black;
  background-color: white;
  z-index: 1000;
}

.start-call-body {
  padding: 10px;
  background-color: white;
  /* text-align: center;  */
}

.start-call-body-text {
  margin: 0px 0px 0px 5px;
  font-size: 14px;
  text-align: left;
  color: #949292;
  width: 100%;
  height: 100%;
  /* padding: 5px; */
  border: none;
}

.start-call-handle {
  background-color: grey;
  width: 10px;
  height: 10px;
  position: relative;
  top: -4px;
  border: 1px solid black;
}
.start-call-handle {
  background-color: grey;
  width: 10px;
  height: 10px;
  position: relative;
  top: -4px;
  border: 1px solid black;
}

.settings-popup {
  position: absolute;

  background-color: #1aba27;
  top: 0;
  right: 0;
  z-index: 1000;
}

#a {
  position: absolute;
  top: -5px;
}

.answer-container {
  height: 50px;
  width: max-content;
  display: flex;
  flex: 1;
  border-radius: 6px;
  overflow: hidden;
}
.answer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 7px;
  flex: 1;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  position: relative;
  overflow: hidden;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.answer-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: green;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.answer-text {
  flex: 1;
}
.handle-custom {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 1px solid black;
}

.start-call-container .react-flow__handle.handle-custom {
  z-index: 1000;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: aquamarine;
  position: relative;
  overflow: hidden;
}

.add-contacts {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 7rem;
  border: 1px solid black;
  position: relative;
}
#list {
  align-items: flex-start;
  padding-left: 5px;
}
.ops {
  align-items: end;
  gap: 5px;
  padding-right: 6px;
}

.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 110%;
  height: 7px;
  background-color: rgb(224, 51, 79);
  border-radius: 10px;
  position: absolute;
}

.settings-popup {
  position: fixed;
  top: 50%;
  right: -100%;
  transform: translateY(-50%);
  width: 50%;
  height: 80%;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.settings-popup.show {
  right: 25%;
}

.settings-popup h2 {
  margin-top: 0;
}

.settings-popup button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.dndnode {
  width: 50%;
  height: 15%;
  border: 1px solid black;
  padding: 3px;
}
.full {
  padding: 8px;
  width: fit-content;
}

.list {
  display: flex;
  gap: 8px;
  width: fit-content;
}

.list div {
  border: 1px solid white;
  /* border-radius: 5px; */
}

.s-icon1 {
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
  gap: 3px;
  border-radius: 14px;
  border: 1px solid saddlebrown;
  width: 73px;
  height: 73px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.s-icon1 .icon {
  font-size: 30px;
}

.s-icon1 span {
  color: inherit;
}

.s-icon1-start {
  background-color: #f7faf7;
  color: green;
}

.s-icon1-audio {
  background-color: #f7f9fa;
  color: #192a52;
}

.s-icon1-menu {
  background-color: #f0faff;
  color: gray;
}

.s-icon1-agent {
  background-color: #fffafd;
  color: #fa0f94;
}

.s-icon1-group {
  background-color: #f2e8fc;
  color: #572d87;
}

.s-icon1-end {
  background-color: #fce8eb;
  color: red;
}

.edgebutton {
  width: 20px;
  height: 20px;
  background: #eee;
  border: 1px solid #fff;
  cursor: pointer;
  border-radius: 50%;
  font-size: 12px;
  line-height: 1;
}

.edgebutton:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}

.audio-files {
  width: 350px;
  height: fit-content;
  flex: 1;
  border: 1px solid whitesmoke;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.play-audio {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.play-audio-wrapper {
  padding: 5px;
  height: 100%;
  background-color: antiquewhite;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.play-audio-text {
  text-align: center;
  flex: 1;
}
.note {
  text-align: center;
  flex: 1;
  background-color: #ebe4e4;
  padding: 5px;
  color: red;
}

.audio-popup {
  position: fixed;
  width: 350px;
  background-color: white;
  height: 160px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.audio-popup-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
